.container{
    display: grid;
    gap:15px;
    padding:15px;
    grid-template-rows: 10vh 35vh 35vh 10vh;
    grid-template-columns: 35vw 35vw 20vw;
    background-color: black;
    grid-template-areas: "nav nav nav"
                         "header header aside"
                         "primeiro segundo aside"
                         "footer footer footer";
}

nav{
    grid-area: nav;
    background-color: blueviolet;
}

header{
    grid-area: header;
    background-color: yellowgreen;
}

aside{
    grid-area: aside;
    background-color: salmon;
}

.primeiro{
    grid-area: primeiro;
    background-color: turquoise;
}

.segundo{
    grid-area: segundo;
    background-color: turquoise;
}

footer{
    grid-area: footer;
    background-color: royalblue;
}