.container{
    display: grid;
    grid-template-columns: 70vw 25vw;
    grid-template-rows: 60vh repeat(2,10vh);
    gap:15px;
    padding: 15px;
}

.video-principal{
    grid-column: 1/2;
    grid-row:1/2;
    background-color: brown;
}

.video{
    width: 100%;
    height: 100%;
}

.detalhes{
    grid-column: 1/2;
    grid-row:2/3;
}

.canal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.canal-icons{
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil-canal{
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.botoes{
    width:50%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.info{
    grid-column: 1/2;
    grid-row:3/4;
}

aside{
    grid-column: 2/3;
    grid-row:1/4;
    background-color: blueviolet;
}